doctype html
head
  meta(charset='UTF-8')
  title Results Page
div
  p  
    font(face='verdana' size='6' color='blue')  Here is your list: </br>
    font(face='verdana' size='4' colour='grey') dog = prime, cat = divisible by 3, mouse = divisivble by 5 </br>
    font(face='verdana' size='6' color='blue') 
      | !{results}
